.eyo {
  color: var(--gray-12);
  transition: 0.5s;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--gray-1);
  transition: 0.5s;
  gap: 200px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
